FORMAT: 1A

HOST: https://api.letslynk.com/

# Lets Lynk API Documentation

## Introduction

LetsLynk API is based on REST principles, in order to use the api you need a Lets Lynk account. 
The following documentation covers core resources that are available to query the lets lynk 
system and manipulate data.

All API methods return expect to have parameters passsed as JSON and will return resources as JSON.
Please see specific examples for further detail.

### Allowed HTTP requests:

    POST   :   To create a resource
    PUT    :   To replace a resource
    GET    :   Get a resource or a list of resources
    DELETE :   To delete a resource

### Description of usual server responses

* `200 OK`- the request was successful
* `201 Created` - the request was successful and a resource was created
* `204 No Content` - the request was successful but there is no representation to return
* `400 Bad Request` - the request could not be understolld or was missing required parameters
* `401 Unauthorized` - authenication failed or the user doesn't have permissions for the requested operation
* `403 Forbidden` - access to the requested resource denied
* `404 Not Found` - the requested resource could not be found
* `409 Conflict` - the request could not be actioned as it would result in a conflict with another resource
* `500 Internal Server Error` - There was an uncaught exception in the api, please email `support@letslynk.com`

### Collections of Objects

Methods that return collections of objects can be specified to return a set ammount of objects from a set place. This is achieved using the start and limit URI parameters.

For example: `GET /users/1/activity?start=20&limit=10`

In the above example, the server will return up to 10 objects, starting from the 20th object. 
The json response will also include a hypermedia link to get the next set of objects (and the previous set, if applicable):

    {
        ...
        "_links":{
            "self": { "href": "/users/1/activity?start=20&limit=10" },
            "prev": { "href": "/users/1/activity?start=10&limit=10" },
            "next": { "href": "/users/1/activity?start=30&limit=10" }
        }
        ...
    }
If other uri parameters are set in a request, they will be carried through to the hypermedia links in the response. 

For example: `GET /users/1/contacts?start=20&limit=10&search=John&tag=1&tag=3`

    {
        ...
        "_links":{
            "self": { "href": "/users/1/contacts?start=20&limit=10&search=John&tag=1&tag=3" },
            "prev": { "href": "/users/1/contacts?start=10&limit=10&search=John&tag=1&tag=3" },
            "next": { "href": "/users/1/contacts?start=30&limit=10&search=John&tag=1&tag=3" }
        }
        ...
    }

## Endpoints

### Status [GET]
Get the API service status

+ Response 200 (application/json)

    + Body

        { 
            "status" : "OK", 
            "version": 1
        }


### Auth
With the exception of creaing an account, you must first auth against the server using the email address 
and password associated with your account in order to use the API.

Steps to authenticate:

1. `POST` your credentials (email and password) to __/auth__
2. __/auth__ will resond with a __token__
3. Pass the token back in subsequent requests in the Authorization Header using Basic 
authorization, for example:

`Authorization: Basic QkR6cFhHSHpnNkIyMk16bzlGNm1POWNKSTJpT0VSMWo1cnkxaERuUnN0RWdNVWZNcThYR1o4MTduUVRwTWZ4Qjo=`

Parameters:
* email (string): The users email address - __required__
* password (string): The users password - __required__

Response:
A successful response will contain a token to use in subsequent requests and a hypermedia link to the root and the user's self
of the API.

+ Request (application/json)

    + Body
    
        { 
            "email": "steven.segal@kickass.com", 
            "password": "imjustthecook" 
        }

+ Response 200 (application/json)

    + Body

        "token" : "QkR6cFhHSHpnNkIyMk16bzlGNm1POWNKSTJpT0VSMWo1cnkxaERuUnN0RWdNVWZNcThYR1o4MTduUVRwTWZ4Qjo=", 
        "_user_id" : 1,
        "_links": {
            "root": { "href": "/" },
            "self": { "href": "/users/{user_id}" }
        }


-- Auth > Forgot --
Supply the user email in the case of a forgotten/lost password. If the account is found then a password
reset link will be sent to the user email address.

Parameters:
* email (string): The users email address - __required__

Response:
A successful response will return no content. User should check their email to continue process.

POST /auth/forgot
> Content-Type: application/json
{ 
    "email": "steven.segal@kickass.com" 
}
< 200
< Content-Type: application/json
{
    "message": "Check your email"
}
+++++
< 404
< Content-Type: application/json
{
    "error": "The email specified could not be found"
}


-- Auth > Reset --
Supply the reset ID that was generated by the API and sent to the user's email address along with
a new password.

Parameters:
* reset_token (string): The unique code sent to the user's email address - __required__
* password (string): The new password chosen by the user - __required__

POST /auth/reset
> Content-Type: application/json
{ 
    "reset_token": "VM8DhE3aJ7PTgWQu6QSEvlKTmxdWk8s8v",
    "password": "this_is_a_very_poor_passphrase"
}
< 200
< Content-Type: application/json
{ 
    "message": "Password reset"
}
+++++
< 404
< Content-Type: application/json
{
    "error": "Password reset request not found"
}


-- Verify --
On account creation an email verification is automatically generated and sent to the users 
supplied email address.

Use this API to complete the verification process by supplying the verification_token within
2 hours of it's generation

Parameters:
* verification_token (string): The unique code sent to the user's email address - __required__

Response:
A successful response will contain a hypermedia link to login.

POST /verify
> Content-Type: application/json
{ 
    "verification_token": "VM8DhE3aJ7PTgWQu6QSEvlKTmxdWk8s8v"
}
< 200
< Content-Type: application/json
{ 
    "_links": {
        "auth": {
            "href": "/auth"
        }
    }
}


--
Verify > Send
Resends the verification email to a user.

Response:

A successful response will return no content.

--
Resend Verification

POST /verify/send
> Content-Type: application/json
{ 
    "email": "email@email.com"
}
< 204

--
Verify > Short Code
Verifies a user using thier short code. Short codes will always be 6 character alpha strings. They are case insensitive.

Note that the client must provide a valid auth token in the header to verify using the short code.

Use this API to complete the verification process by supplying the verification_token within 2 hours of it's generation
* verificationtoken (string): The unique code sent to the user's email address - _required
--

Verify a short code, for when a user chooses to verify by entering a code withing thier app

__Authentication:__ Required

__Authorization:__ None


POST /verify/short_code
> Authorization: Basic {your encoded token}
> Content-Type: application/json
{
  "verification_short_code": "abrppz"
}
< 204

--
User
The following is a section of resources related to users, four methods are available:

* Create a new user
* Retrieve an existing user
* Update an existing user
* Delete an existing user

### User Properties ###

* email (string)
* password (string)
* title (string)
* first_name (string)
* last_name (string)
* full_name (string)
* home_telephone (string)
* mobile_telephone (string)
* work_telephone (string)there 
* linked_in (string)
* facebook (string)
* twitter (string)
* google (string)
* company (string)
* job_title (string)
* address\_line_1 (string)
* address\_line_2 (string)
* address\_line_3 (string)
* address\_line_4 (string)
* locality (string)
* region (string)
* postcode (string)
* country (string)
* _qr_url (string) _read only_
* _avatar (string) _read only_
* _banner (string) _read only_

--
Create a new user account

__Authentication:__ Not required

__Authorization:__ Not required

POST /users
> Content-Type: application/json
{ 
    "email": "stevensegal@kickass.com",
    "password": "kickass",
    "title": "Mr",
    "first_name": "Steven",
    "last_name": "Segal",
    "home_telephone": "04444 123 456",
    "mobile_telephone": "05555 123 456",
    "work_telephone": "06666 123 456",
    "linked_in": "http://linked.in/steven_segal",
    "facebook": "http://facebook.com/stevan_segal",
    "twitter": "@steven_segal",
    "google": "+steven_segal",
    "company": "Kick Ass Ltd",
    "job_title": "Ass Kicker",
    "address_line_1": "Address 1",
    "address_line_2": "Address 2",
    "address_line_3": "Address 3",
    "address_line_4": "Address 4",
    "locality": "NY",
    "region": "NY",
    "postcode": "K1KA55",
    "country": "USA"
}
< 201
< Content-Type: application/json
< Last-Modified: Tue, 15 Nov 2013 12:45:26 GMT
{ 
    "email": "stevensegal@kickass.com",
    "title": "Mr",
    "first_name": "Steven",
    "last_name": "Segal",
    "home_telephone": "04444 123 456",
    "mobile_telephone": "05555 123 456",
    "work_telephone": "06666 123 456",
    "linked_in": "http://linked.in/steven_segal",
    "facebook": "http://facebook.com/stevan_segal",
    "twitter": "@steven_segal",
    "google": "+steven_segal",
    "company": "Kick Ass Ltd",
    "job_title": "Ass Kicker",
    "address_line_1": "Address 1",
    "address_line_2": "Address 2",
    "address_line_3": "Address 3",
    "address_line_4": "Address 4",
    "locality": "NY",
    "region": "NY",
    "postcode": "K1KA55",
    "country": "USA",
    "_qr_url": "https://qr.letslynk.com/u/oO68mZwLTvi7bWu5vTgKEQ/Steven%20Segal",
    "_links": {
        "avatar": {
            "_links": {
                "38": { "href": "https://i.letslynk.com/u/9fkoWokA/a/38.jpg" },
                "50": { "href": "https://i.letslynk.com/u/9fkoWokA/a/50.jpg" },
                "75": { "href": "https://i.letslynk.com/u/9fkoWokA/a/75.jpg" },
                "100": { "href": "https://i.letslynk.com/u/9fkoWokA/a/100.jpg" },
                "150": { "href": "https://i.letslynk.com/u/9fkoWokA/a/150.jpg" },
                "200": { "href": "https://i.letslynk.com/u/9fkoWokA/a/200.jpg" },
                "300": { "href": "https://i.letslynk.com/u/9fkoWokA/a/300.jpg" }
            }
        },
        "banner": {
            "_links": {
                "320": { "href": "https://i.letslynk.com/u/9fkoWokA/b/320.jpg" },
                "480": { "href": "https://i.letslynk.com/u/9fkoWokA/b/480.jpg" },
                "612": { "href": "https://i.letslynk.com/u/9fkoWokA/b/612.jpg" },
                "640": { "href": "https://i.letslynk.com/u/9fkoWokA/b/640.jpg" },
                "720": { "href": "https://i.letslynk.com/u/9fkoWokA/b/720.jpg" },
                "960": { "href": "https://i.letslynk.com/u/9fkoWokA/b/960.jpg" },
                "1080": { "href": "https://i.letslynk.com/u/9fkoWokA/b/1080.jpg" },
                "1200": { "href": "https://i.letslynk.com/u/9fkoWokA/b/1200.jpg" },
                "1600": { "href": "https://i.letslynk.com/u/9fkoWokA/b/1600.jpg" }
            }
        },
        "self": { "href": "/users/{user_id}" },
        "activity": { "href": "/users/{user_id}/activity" },
        "contacts": { "href": "/users/{user_id}/contacts" },
        "invites": { "href": "/users/{user_id}/invites" },
        "goodie": { "href": "/users/{user_id}/goodie" },
        "registrations": { "href": "/users/{user_id}/registrations" },
        "teams": { "href": "/users/{user_id}/teams" },
        "tags": { "href": "/users/{user_id}/tags" }
    }
}
+++++
< 400
< Content-Type: application/json
{ 
    "error": "The email and password cannot be empty"
} 
+++++
< 400
< Content-Type: application/json
{ 
    "error": "The email address is badly formatted"
} 
+++++
< 400
< Content-Type: application/json
{ 
    "error-1": "The field 'email' is required",
    "error-2": "The field 'flibble' is not supported"
} 
+++++
< 409
< Content-Type: application/json
{ 
    "error": "The email is already in use"
} 

Retrieve a single user with a given {user_id}

__Authentication:__ Required

__Authorization:__ The caller must be authorized as the owner of the requested resource 

GET /users/{user_id}
> Authorization: Basic {your encoded token}
> Content-Type: application/json
> If-Modified-Since: Fri, 12 Nov 2013 12:45:26 GMT
< 200
< Content-Type: application/json
< Last-Modified: Tue, 15 Nov 2013 12:45:26 GMT
{
    "email": "stevensegal@kickass.com",
    "title": "Mr",
    "first_name": "Steven",
    "last_name": "Segal",
    "home_telephone": "04444 123 456",
    "mobile_telephone": "05555 123 456",
    "work_telephone": "06666 123 456",
    "linked_in": "http://linked.in/steven_segal",
    "facebook": "http://facebook.com/stevan_segal",
    "twitter": "@steven_segal",
    "google": "+steven_segal",
    "company": "Kick Ass Ltd",
    "job_title": "Ass Kicker",
    "address_line_1": "Address 1",
    "address_line_2": "Address 2",
    "address_line_3": "Address 3",
    "address_line_4": "Address 4",
    "locality": "NY",
    "region": "NY",
    "postcode": "K1KA55",
    "country": "USA",
    "_qr_url": "https://qr.letslynk.com/u/oO68mZwLTvi7bWu5vTgKEQ/Steven%20Segal",
    "_links": {
        "avatar": {
            "_links": {
                "38": { "href": "https://i.letslynk.com/u/9fkoWokA/a/38.jpg" },
                "50": { "href": "https://i.letslynk.com/u/9fkoWokA/a/50.jpg" },
                "75": { "href": "https://i.letslynk.com/u/9fkoWokA/a/75.jpg" },
                "100": { "href": "https://i.letslynk.com/u/9fkoWokA/a/100.jpg" },
                "150": { "href": "https://i.letslynk.com/u/9fkoWokA/a/150.jpg" },
                "200": { "href": "https://i.letslynk.com/u/9fkoWokA/a/200.jpg" },
                "300": { "href": "https://i.letslynk.com/u/9fkoWokA/a/300.jpg" }
            }
        },
        "banner": {
            "_links": {
                "320": { "href": "https://i.letslynk.com/u/9fkoWokA/b/320.jpg" },
                "480": { "href": "https://i.letslynk.com/u/9fkoWokA/b/480.jpg" },
                "612": { "href": "https://i.letslynk.com/u/9fkoWokA/b/612.jpg" },
                "640": { "href": "https://i.letslynk.com/u/9fkoWokA/b/640.jpg" },
                "720": { "href": "https://i.letslynk.com/u/9fkoWokA/b/720.jpg" },
                "960": { "href": "https://i.letslynk.com/u/9fkoWokA/b/960.jpg" },
                "1080": { "href": "https://i.letslynk.com/u/9fkoWokA/b/1080.jpg" },
                "1200": { "href": "https://i.letslynk.com/u/9fkoWokA/b/1200.jpg" },
                "1600": { "href": "https://i.letslynk.com/u/9fkoWokA/b/1600.jpg" }
            }
        },
        "self": { "href": "/users/{user_id}" },
        "activity": { "href": "/users/{user_id}/activity" },
        "contacts": { "href": "/users/{user_id}/contacts" },
        "invites": { "href": "/users/{user_id}/invites" },
        "goodie": { "href": "/users/{user_id}/goodie" },
        "registrations": { "href": "/users/{user_id}/registrations" },
        "teams": { "href": "/users/{user_id}/teams" },
        "tags": { "href": "/users/{user_id}/tags" }
    }
}
+++++
< 404
< Content-Type: application/json
{
    "error": "The requested resource could not be found"
}

Update an existing user account

This method accepts a partial representation of a user containing one or more of the optional parameters

__Authentication:__ Required

__Authorization:__ The caller must be authorized as the owner of the requested resource 

PUT /users/{user_id}
> Content-Type: application/json
> Authorization: Basic {your encoded token}
> If-Unmodified-Since: Fri, 12 Nov 2013 12:45:26 GMT
{
    "email": "stevensegal@kickass.com",
    "password": "kickass",
    "title": "Mr",
    "first_name": "Steven",
    "last_name": "Segal",
    "home_telephone": "04444 123 456",
    "mobile_telephone": "05555 123 456",
    "work_telephone": "06666 123 456",
    "linked_in": "http://linked.in/steven_segal",
    "facebook": "http://facebook.com/stevan_segal",
    "twitter": "@steven_segal",
    "google": "+steven_segal",
    "company": "Kick Ass Ltd",
    "job_title": "Ass Kicker",
    "address_line_1": "Address 1",
    "address_line_2": "Address 2",
    "address_line_3": "Address 3",
    "address_line_4": "Address 4",
    "locality": "NY",
    "region": "NY",
    "postcode": "K1KA55",
    "country": "USA"
}
< 200
< Content-Type: application/json
< Last-Modified: Tue, 15 Nov 2013 12:45:26 GMT
{
    "email" : "stevensegal@kickass.com",
    "title" : "Mr",
    "first_name" : "Steven",
    "last_name" : "Segal",
    "home_telephone" : "04444 123 456",
    "mobile_telephone" : "05555 123 456",
    "work_telephone" : "06666 123 456",
    "linked_in" : "http://linked.in/steven_segal",
    "facebook" : "http://facebook.com/stevan_segal",
    "twitter" : "@steven_segal",
    "google" : "+steven_segal",
    "company" : "Kick Ass Ltd",
    "full_job_title" : "Ass Kicker at Kick Ass Ltd",
    "address_line_1" : "Address 1",
    "address_line_2" : "Address 2",
    "address_line_3" : "Address 3",
    "address_line_4" : "Address 4",
    "locality" : "NY",
    "region" : "NY",
    "postcode" : "K1KA55",
    "country" : "USA",
    "_qr_url": "https://qr.letslynk.com/u/oO68mZwLTvi7bWu5vTgKEQ/Steven%20Segal",
    "_links": {
       "avatar": {
            "_links": {
                "38": { "href": "https://i.letslynk.com/u/9fkoWokA/a/38.jpg" },
                "50": { "href": "https://i.letslynk.com/u/9fkoWokA/a/50.jpg" },
                "75": { "href": "https://i.letslynk.com/u/9fkoWokA/a/75.jpg" },
                "100": { "href": "https://i.letslynk.com/u/9fkoWokA/a/100.jpg" },
                "150": { "href": "https://i.letslynk.com/u/9fkoWokA/a/150.jpg" },
                "200": { "href": "https://i.letslynk.com/u/9fkoWokA/a/200.jpg" },
                "300": { "href": "https://i.letslynk.com/u/9fkoWokA/a/300.jpg" }
            }
        },
        "banner": {
            "_links": {
                "320": { "href": "https://i.letslynk.com/u/9fkoWokA/b/320.jpg" },
                "480": { "href": "https://i.letslynk.com/u/9fkoWokA/b/480.jpg" },
                "612": { "href": "https://i.letslynk.com/u/9fkoWokA/b/612.jpg" },
                "640": { "href": "https://i.letslynk.com/u/9fkoWokA/b/640.jpg" },
                "720": { "href": "https://i.letslynk.com/u/9fkoWokA/b/720.jpg" },
                "960": { "href": "https://i.letslynk.com/u/9fkoWokA/b/960.jpg" },
                "1080": { "href": "https://i.letslynk.com/u/9fkoWokA/b/1080.jpg" },
                "1200": { "href": "https://i.letslynk.com/u/9fkoWokA/b/1200.jpg" },
                "1600": { "href": "https://i.letslynk.com/u/9fkoWokA/b/1600.jpg" }
            }
        },
        "self": { "href": "/users/{user_id}" },
        "activity": { "href": "/users/{user_id}/activity" },
        "contacts": { "href": "/users/{user_id}/contacts" },
        "invites": { "href": "/users/{user_id}/invites" },
        "goodie": { "href": "/users/{user_id}/goodie" },
        "registrations": { "href": "/users/{user_id}/registrations" },
        "teams": { "href": "/users/{user_id}/teams" },
        "tags": { "href": "/users/{user_id}/tags" }
    }
}
+++++
< 400
< Content-Type: application/json
{ 
    "error": "The email and password cannot be empty"
} 
+++++
< 400
< Content-Type: application/json
{ 
    "error": "The email address is badly formatted"
} 
+++++
< 400
< Content-Type: application/json
{ 
    "error-1": "The field 'email' is required",
    "error-2": "The field 'flibble' is not supported"
} 
+++++
< 404
< Content-Type: application/json
{
    "error": "The requested resource could not be found"
}
+++++
< 409
< Content-Type: application/json
{ 
    "error": "The email is already in use"
} 
+++++
< 409
< Content-Type: application/json
{ 
    "error": "Remote object out of date"
} 

Delete a user acount

__Authentication:__ Required

__Authorization:__ The caller must be authorized as the owner of the requested resource 

DELETE /users/{user_id}
> Content-Type: application/json
> Authorization: Basic {your encoded token}
> If-Unmodified-Since: Fri, 12 Nov 2013 12:45:26 GMT
< 204 
< Last-Modified: Tue, 15 Nov 2013 12:45:26 GMT
+++++
< 404
< Content-Type: application/json
{
    "error": "The requested resource could not be found"
}


--
User > Link > Facebook > Dialog

Opens the oauth login dialog.
--

Opens the oauth login dialog.

__Authentication:__ Required

__Authorization:__ The caller must be authorized as the owner of the user resource

GET /users/{user_id}/link/facebook/dialog?redirect_uri=https://wwww.letslynk.com/link/facebook
> Authorization: Basic {your encoded token}
< 302
< Location: https://www.facebook.com/dialog/oauth?client_id=1111222233334444&state=Z6lWLUs9KqtAYP8d4AaGeXgNM7t6GAqHofFEhkrugL9w4xDyQYo&response_type=code&redirect_uri=https://wwww.letslynk.com/link/facebook


--
User > Link > Facebook > Code

Links a facebook account to a user
--

Send received information to the server for verification and completion of oauth process.

Once the user has been directed back to the client page then the client should submit all uri params to the LetsLynk API to complete the oauth process.

POST /users/{user_id}/link/facebook/code
> Authorization: Basic {your encoded token}
> Content-Type: application/json
{
    "code": "5555666677778888",
    "state": "Z6lWLUs9KqtAYP8d4AaGeXgNM7t6GAqHofFEhkrugL9w4xDyQYo"
}
< 201
< Content-Type: application/json
+++++
< 400
< Content-Type: application/json
{
    "error": "The request was not valid"
}
+++++
< 403
< Content-Type: application/json
{
    "error": "The request was denied"
}
+++++
< 504
< Content-Type: application/json
{
    "error": "The server could not complete your request in time"
}


--
User > Link > Facebook > Mobile Auth

Links a facebook account to a user
--

POST /users/{user_id}/link/facebook/mobile_auth
> Authorization: Basic {your encoded token}
> Content-Type: application/json
{
    "access_token": "IwDbeiWINrotP3JOd1EGoEY7OmOBd2DyV8lh73mutCM.eyJpdiI6IkdKd3BvWlItcWlWRzIwTGYtUkRUVWcifQ.J6qNtSibMmm0yFe2QNHG46jnIUXef3dV-NnbYqXkfrFABjPrgMPQRUeKHJ3GxX1T3nlU7-4P8FUT6dlfwSwHfNJrheTUZIXdd3AlsSRUiUer5xEdFA9IsGEMn6GyHheH9DSr76IeZcBjl-_s4ub3kg",
}
< 201
< Content-Type: application/json
+++++
< 400
< Content-Type: application/json
{
    "error": "The request was not valid"
}
+++++
< 403
< Content-Type: application/json
{
    "error": "The request was denied"
}
+++++
< 504
< Content-Type: application/json
{
    "error": "The server could not complete your request in time"
}


--
User > Link > Facebook > Profile

Fetches the user's facebook profile information
--

GET /users/{user_id}/link/facebook/profile
> Authorization: Basic {your encoded token}
< 201
< Content-Type: application/json
{
    "title": "Mr",
    "first_name": "Steven",
    "last_name": "Segal",
    "facebook": "http://facebook.com/stevan_segal"
    "company": "Kick Ass Ltd",
    "job_title": "Ass Kicker",
    "address_line_1": "Address 1",
    "address_line_2": "Address 2",
    "address_line_3": "Address 3",
    "address_line_4": "Address 4",
    "locality": "NY",
    "region": "NY",
    "postcode": "K1KA55",
    "country": "USA"
    "_links": {
        "avatar": {
            "href": "https://i.letslynk.com/u/9fkoWokA/a/ldpi.jpg" }
        },
        "banner": {
            "href": "https://i.letslynk.com/u/9fkoWokA/b/ldpi.jpg" }
        }
    }
}
+++++
< 400
< Content-Type: application/json
{
    "error": "The request was not valid"
}
+++++
< 403
< Content-Type: application/json
{
    "error": "The request was denied"
}
+++++
< 504
< Content-Type: application/json
{
    "error": "The server could not complete your request in time"
}


--
User > Link > LinkedIn > Dialog

Opens the oauth login dialog.
--

Opens the oauth login dialog.

__Authentication:__ Required

__Authorization:__ The caller must be authorized as the owner of the user resource

GET /users/{user_id}/link/linkedin/dialog?redirect_uri=https://wwww.letslynk.com/link/linkedin
> Authorization: Basic {your encoded token}
< 302
< Location: https://www.linkedin.com/uas/oauth2/authorization?client_id=1111222233334444&state=Z6lWLUs9KqtAYP8d4AaGeXgNM7t6GAqHofFEhkrugL9w4xDyQYo&response_type=code&redirect_uri=https://wwww.letslynk.com/link/linkedin


--
User > Link > LinkedIn > Code

Links a facebook account to a user
--

Send received information to the server for verification and completion of oauth process.

Once the user has been directed back to the client page then the client should submit all uri params to the server to complete the oauth process.

POST /users/{user_id}/link/linkedin/code
> Authorization: Basic {your encoded token}
> Content-Type: application/json
{
    "code": "5555666677778888",
    "state": "Z6lWLUs9KqtAYP8d4AaGeXgNM7t6GAqHofFEhkrugL9w4xDyQYo"
}
< 201
< Content-Type: application/json
+++++
< 400
< Content-Type: application/json
{
    "error": "The request was not valid"
}
+++++
< 403
< Content-Type: application/json
{
    "error": "The request was denied"
}
+++++
< 504
< Content-Type: application/json
{
    "error": "The server could not complete your request in time"
}


--
User > Link > LinkedIn > Mobile Auth

Links a linkedin account to a user
--

POST /users/{user_id}/link/linkedin/mobile_auth
> Authorization: Basic {your encoded token}
> Content-Type: application/json
{
    "code": "IwDbeiWINrotP3JOd1EGoEY7OmOBd2DyV8lh73mutCM.eyJpdiI6IkdKd3BvWlItcWlWRzIwTGYtUkRUVWcifQ.J6qNtSibMmm0yFe2QNHG46jnIUXef3dV-NnbYqXkfrFABjPrgMPQRUeKHJ3GxX1T3nlU7-4P8FUT6dlfwSwHfNJrheTUZIXdd3AlsSRUiUer5xEdFA9IsGEMn6GyHheH9DSr76IeZcBjl-_s4ub3kg",
}
< 201
< Content-Type: application/json
+++++
< 400
< Content-Type: application/json
{
    "error": "The request was not valid"
}
+++++
< 403
< Content-Type: application/json
{
    "error": "The request was denied"
}
+++++
< 504
< Content-Type: application/json
{
    "error": "The server could not complete your request in time"
}


--
User > Link > LinkedIn > Profile

Fetches the user's LinkedIn profile information
--

GET /users/{user_id}/link/linkedin/profile
> Authorization: Basic {your encoded token}
< 201
< Content-Type: application/json
{
    "title": "Mr",
    "first_name": "Steven",
    "last_name": "Segal",
    "facebook": "http://facebook.com/stevan_segal"
    "company": "Kick Ass Ltd",
    "job_title": "Ass Kicker",
    "address_line_1": "Address 1",
    "address_line_2": "Address 2",
    "address_line_3": "Address 3",
    "address_line_4": "Address 4",
    "locality": "NY",
    "region": "NY",
    "postcode": "K1KA55",
    "country": "USA"
    "_links": {
        "avatar": {
            "href": "https://i.letslynk.com/u/9fkoWokA/a/ldpi.jpg" }
        },
        "banner": {
            "href": "https://i.letslynk.com/u/9fkoWokA/b/ldpi.jpg" }
        }
    }
}
+++++
< 400
< Content-Type: application/json
{
    "error": "The request was not valid"
}
+++++
< 403
< Content-Type: application/json
{
    "error": "The request was denied"
}
+++++
< 504
< Content-Type: application/json
{
    "error": "The server could not complete your request in time"
}


--
User > Link > Google > Dialog

Opens the oauth login dialog.
--

Opens the oauth login dialog.

__Authentication:__ Required

__Authorization:__ The caller must be authorized as the owner of the user resource

GET /users/{user_id}/link/google/dialog
> Authorization: Basic {your encoded token}
< 200
< Content-Type: application/json
{
    "client_id": "5555666677778888",
    "state": "Z6lWLUs9KqtAYP8d4AaGeXgNM7t6GAqHofFEhkrugL9w4xDyQYo",
    "application_name": "LetsLynk"
}


--
User > Link > Google > Code

Links a google account to a user
--

Send received information to the server for verification and completion of oauth process.

Once the user has been directed back to the client page then the client should submit all uri params to the server to complete the oauth process.

POST /users/{user_id}/link/google/code
> Authorization: Basic {your encoded token}
> Content-Type: application/json
{
    "code": "5555666677778888",
    "state": "Z6lWLUs9KqtAYP8d4AaGeXgNM7t6GAqHofFEhkrugL9w4xDyQYo"
}
< 201
< Content-Type: application/json
+++++
< 400
< Content-Type: application/json
{
    "error": "The request was not valid"
}
+++++
< 403
< Content-Type: application/json
{
    "error": "The request was denied"
}
+++++
< 504
< Content-Type: application/json
{
    "error": "The server could not complete your request in time"
}


--
User > Link > Google > Mobile Auth

Links a google+ account to a user
--

POST /users/{user_id}/link/google/mobile_auth
> Authorization: Basic {your encoded token}
> Content-Type: application/json
{
    "code": "IwDbeiWINrotP3JOd1EGoEY7OmOBd2DyV8lh73mutCM.eyJpdiI6IkdKd3BvWlItcWlWRzIwTGYtUkRUVWcifQ.J6qNtSibMmm0yFe2QNHG46jnIUXef3dV-NnbYqXkfrFABjPrgMPQRUeKHJ3GxX1T3nlU7-4P8FUT6dlfwSwHfNJrheTUZIXdd3AlsSRUiUer5xEdFA9IsGEMn6GyHheH9DSr76IeZcBjl-_s4ub3kg",
}
< 201
< Content-Type: application/json
+++++
< 400
< Content-Type: application/json
{
    "error": "The request was not valid"
}
+++++
< 403
< Content-Type: application/json
{
    "error": "The request was denied"
}
+++++
< 504
< Content-Type: application/json
{
    "error": "The server could not complete your request in time"
}


--
User > Link > Google > Profile

Fetches the user's Google profile information
--

GET /users/{user_id}/link/google/profile
> Authorization: Basic {your encoded token}
< 201
< Content-Type: application/json
{
    "title": "Mr",
    "first_name": "Steven",
    "last_name": "Segal",
    "facebook": "http://facebook.com/stevan_segal"
    "company": "Kick Ass Ltd",
    "job_title": "Ass Kicker",
    "address_line_1": "Address 1",
    "address_line_2": "Address 2",
    "address_line_3": "Address 3",
    "address_line_4": "Address 4",
    "locality": "NY",
    "region": "NY",
    "postcode": "K1KA55",
    "country": "USA"
    "_links": {
        "avatar": {
            "href": "https://i.letslynk.com/u/9fkoWokA/a/ldpi.jpg" }
        },
        "banner": {
            "href": "https://i.letslynk.com/u/9fkoWokA/b/ldpi.jpg" }
        }
    }
}
+++++
< 400
< Content-Type: application/json
{
    "error": "The request was not valid"
}
+++++
< 403
< Content-Type: application/json
{
    "error": "The request was denied"
}
+++++
< 504
< Content-Type: application/json
{
    "error": "The server could not complete your request in time"
}

--
User > Link > Twitter > Dialog

Opens the oauth login dialog.
--

Opens the oauth login dialog.

__Authentication:__ Required

__Authorization:__ The caller must be authorized as the owner of the user resource

GET /users/{user_id}/link/twitter/dialog?redirect_uri=https://wwww.letslynk.com/link/twitter
> Authorization: Basic {your encoded token}
< 302
< Location: https://api.twitter.com/oauth/authenticate?oauth_token=Z6eEdO8MOmk394WozF5oKyuAv855l4Mlqo7hhlSLik


--
User > Link > Twitter > Code

Links a twitter account to a user
--

Send received information to the server for verification and completion of oauth process.

Once the user has been directed back to the client page then the client should submit all uri params to the server to complete the oauth process.

POST /users/{user_id}/link/twitter/code
> Authorization: Basic {your encoded token}
> Content-Type: application/json
{
    "oauth_token": "5555666677778888",
    "oauth_verifier": "Z6lWLUs9KqtAYP8d4AaGeXgNM7t6GAqHofFEhkrugL9w4xDyQYo"
}
< 201
< Content-Type: application/json
+++++
< 400
< Content-Type: application/json
{
    "error": "The request was not valid"
}
+++++
< 403
< Content-Type: application/json
{
    "error": "The request was denied"
}
+++++
< 504
< Content-Type: application/json
{
    "error": "The server could not complete your request in time"
}


--
User > Link > Twitter > Request Token

Performs Step 1 of the Twitter Reserve Auth process
https://dev.twitter.com/docs/ios/using-reverse-auth
--

POST /users/{user_id}/link/twitter/request_token
> Authorization: Basic {your encoded token}
> Content-Type: application/json
< 200
< Content-Type: application/json
{
    "auth_params": "oauth_nonce=\"xq2maKtilFhVTC1MSxVC4cQIJLd53O6w97YmrdOGSk8\",
                    oauth_signature_method=\"HMAC-SHA1\",
                    oauth_timestamp=\"1322697052\",
                    oauth_consumer_key=\"JP3PyvG67rXRsnayOJOcQ\",
                    oauth_token=\"5mgkU82W0PTA0DLgSIA5vFK6c08i8dXzrbLnX06vl38\",
                    oauth_signature=\"aOM%2FwW2kAowAeHBRvw7faH245p0%3D\",
                    oauth_version=\"1.0\""
}
+++++
< 400
< Content-Type: application/json
{
    "error": "The request was not valid"
}
+++++
< 403
< Content-Type: application/json
{
    "error": "The request was denied"
}
+++++
< 504
< Content-Type: application/json
{
    "error": "The server could not complete your request in time"
}


--
User > Link > Twitter > Mobile Auth

Links a twitter account to a user
--

POST /users/{user_id}/link/twitter/mobile_auth
> Authorization: Basic {your encoded token}
> Content-Type: application/json
{
    "oauth_token": "2311112785-EXKeLV5ezo3HHIaIf1T3ffeww0mR5dfYXKZjjRy0",
    "oauth_token_secret": "KYxxxxx3U4Fxrxva3BGD92--12ehEzFwQ",
    "user_id": 38895958,
    "screen_name": "theseancook"
}
< 201
< Content-Type: application/json
+++++
< 400
< Content-Type: application/json
{
    "error": "The request was not valid"
}
+++++
< 403
< Content-Type: application/json
{
    "error": "The request was denied"
}
+++++
< 504
< Content-Type: application/json
{
    "error": "The server could not complete your request in time"
}


--
User > Link > Twitter > Profile

Fetches the user's Twitter profile information
--

GET /users/{user_id}/link/twitter/profile
> Authorization: Basic {your encoded token}
> Content-Type: application/json
{
    "title": "Mr",
    "first_name": "Steven",
    "last_name": "Segal",
    "facebook": "http://facebook.com/stevan_segal"
    "company": "Kick Ass Ltd",
    "job_title": "Ass Kicker",
    "address_line_1": "Address 1",
    "address_line_2": "Address 2",
    "address_line_3": "Address 3",
    "address_line_4": "Address 4",
    "locality": "NY",
    "region": "NY",
    "postcode": "K1KA55",
    "country": "USA"
    "_links": {
        "avatar": {
            "href": "https://i.letslynk.com/u/9fkoWokA/a/ldpi.jpg" }
        },
        "banner": {
            "href": "https://i.letslynk.com/u/9fkoWokA/b/ldpi.jpg" }
        }
    }
}
< 201
< Content-Type: application/json
+++++
< 400
< Content-Type: application/json
{
    "error": "The request was not valid"
}
+++++
< 403
< Content-Type: application/json
{
    "error": "The request was denied"
}
+++++
< 504
< Content-Type: application/json
{
    "error": "The server could not complete your request in time"
}


--
User > Push Notification Registration

Push notification registration
--

Creates or updates a push notification registration

__Authentication:__ Required

__Authorization:__ The caller must be authorized as the owner of the user resource 

PUT /users/{user_id}/push_notification_registration
> Authorization: Basic {your encoded token}
> Content-Type: application/json
{
    "platform": "ios",
    "token": "3C6EF372FE95"
}
< 200
< Content-Type: application/json


--
User > Push Notification Registration

Push notification registration
--

Creates or updates a push notification registration

__Authentication:__ Required

__Authorization:__ The caller must be authorized as the owner of the user resource 

PUT /users/{user_id}/push_notification_registration
> Authorization: Basic {your encoded token}
> Content-Type: application/json
{
    "platform": "ios",
    "token": "3C6EF372FE95"
}
< 200
< Content-Type: application/json


--
User > Avatar

A user avatar
--

Creates or updates a user avatar

__Authentication:__ Required

__Authorization:__ The caller must be authorized as the owner of the user resource 

__Parameters:__ image - The file that you wish to upload

PUT /users/{user_id}/avatar
> Authorization: Basic {your encoded token}
> Content-Type: multipart/form-data
> If-Unmodified-Since: Fri, 12 Nov 2013 12:45:26 GMT
< 200
< Content-Type: application/json
< Last-Modified: Tue, 15 Nov 2013 12:45:26 GMT
{
    "_links": {
        "self": { "href": "/users/1/avatar" },
        "crop": { "href": "/users/1/avatar/crop" },
        "original": { "href": "https://i.letslynk.com/u/9fkoWokA/a/orig.jpg" },
        "38": { "href": "https://i.letslynk.com/u/9fkoWokA/a/38.jpg" },
        "50": { "href": "https://i.letslynk.com/u/9fkoWokA/a/50.jpg" },
        "75": { "href": "https://i.letslynk.com/u/9fkoWokA/a/75.jpg" },
        "100": { "href": "https://i.letslynk.com/u/9fkoWokA/a/100.jpg" },
        "150": { "href": "https://i.letslynk.com/u/9fkoWokA/a/150.jpg" },
        "200": { "href": "https://i.letslynk.com/u/9fkoWokA/a/200.jpg" },
        "300": { "href": "https://i.letslynk.com/u/9fkoWokA/a/300.jpg" }
    }
}
+++++
< 400
< Content-Type: application/json
{
    "error": "The file type is not supported"
}
+++++
< 400
< Content-Type: application/json
{
    "error": "The file size is too large (max 10Mb)"
}

Gets a user avatar

__Authentication:__ Required

__Authorization:__ The caller must be authorized as the owner of the user resource 

GET /users/{user_id}/avatar
> Authorization: Basic {your encoded token}
> If-Modified-Since: Fri, 12 Nov 2013 12:45:26 GMT
< 200
< Content-Type: application/json
< Last-Modified: Tue, 15 Nov 2013 12:45:26 GMT
{
    "_links": {
        "self": { "href": "/users/1/avatar" },
        "crop": { "href": "/users/1/avatar/crop" },
        "original": { "href": "https://i.letslynk.com/u/9fkoWokA/a/orig.jpg" },
        "38": { "href": "https://i.letslynk.com/u/9fkoWokA/a/38.jpg" },
        "50": { "href": "https://i.letslynk.com/u/9fkoWokA/a/50.jpg" },
        "75": { "href": "https://i.letslynk.com/u/9fkoWokA/a/75.jpg" },
        "100": { "href": "https://i.letslynk.com/u/9fkoWokA/a/100.jpg" },
        "150": { "href": "https://i.letslynk.com/u/9fkoWokA/a/150.jpg" },
        "200": { "href": "https://i.letslynk.com/u/9fkoWokA/a/200.jpg" },
        "300": { "href": "https://i.letslynk.com/u/9fkoWokA/a/300.jpg" }
    }
}
+++++
< 404
< Content-Type: application/json
{
    "error": "The requested resource could not be found"
}


Delete a user avatar

__Authentication:__ Required

__Authorization:__ The caller must be authorized as the owner of the user resource 

DELETE /users/{user_id}/avatar
> Authorization: Basic {your encoded token}
> If-Unmodified-Since: Fri, 12 Nov 2013 12:45:26 GMT
< 204
< Last-Modified: Tue, 15 Nov 2013 12:45:26 GMT
+++++
< 404


--
User > Avatar > Choose

Allows a user to select one of the "default" avatars as thier avatar
--

Select an avatar

__Authentication:__ Required

__Authorization:__ The caller must be authorized as the owner of the user resource 

__Required Parameters:__ 

* avatar_id (Integer) a valid avatar id. These are specified in `GET /avatars`

POST /users/{user_id}/avatar/choose
> Authorization: Basic {your encoded token}
> Content-Type: application/json
{
    "avatar_id": 1
}
< 200
< Content-Type: application/json
< Last-Modified: Tue, 15 Nov 2013 12:45:26 GMT
{
    "_links": {
        "self": { "href": "/users/1/avatar" },
        "38": { "href": "https://i.letslynk.com/u/9fkoWokA/a/38.jpg" },
        "50": { "href": "https://i.letslynk.com/u/9fkoWokA/a/50.jpg" },
        "75": { "href": "https://i.letslynk.com/u/9fkoWokA/a/75.jpg" },
        "100": { "href": "https://i.letslynk.com/u/9fkoWokA/a/100.jpg" },
        "150": { "href": "https://i.letslynk.com/u/9fkoWokA/a/150.jpg" },
        "200": { "href": "https://i.letslynk.com/u/9fkoWokA/a/200.jpg" },
        "300": { "href": "https://i.letslynk.com/u/9fkoWokA/a/300.jpg" }
    }
}

--
User > Avatar > Crop

Allows a user to crop thier avatar
--

Crop avatar

__Authentication:__ Required

__Authorization:__ The caller must be authorized as the owner of the user resource 

__Required Parameters:__ 

* left (Integer) - _The number of pixels from the left of the image to start the crop_
* upper (Integer) - _The number of pixels from the top of the image to start the crop_
* width (Integer) - _The width of the crop area (All avatars are square so width == height)_
* image_width (String) - _The width of the image used while calculating the above crop dimensionsin pixels_

__Notes:__

* The left and upper set the top left corner of the crop

POST /users/{user_id}/avatar/crop
> Authorization: Basic {your encoded token}
> Content-Type: application/json
{
    "left": 200,
    "upper": 50,
    "width": 300,
    "image_width": 550
}
< 200
< Last-Modified: Tue, 15 Nov 2013 12:45:26 GMT
{
    "_links": {
        "self": { "href": "/users/1/avatar" }, 
        "crop": { "href": "/users/1/avatar/crop" },
        "original": { "href": "https://i.letslynk.com/u/9fkoWokA/a/orig.jpg" },
        "38": { "href": "https://i.letslynk.com/u/9fkoWokA/a/38.jpg" },
        "50": { "href": "https://i.letslynk.com/u/9fkoWokA/a/50.jpg" },
        "75": { "href": "https://i.letslynk.com/u/9fkoWokA/a/75.jpg" },
        "100": { "href": "https://i.letslynk.com/u/9fkoWokA/a/100.jpg" },
        "150": { "href": "https://i.letslynk.com/u/9fkoWokA/a/150.jpg" },
        "200": { "href": "https://i.letslynk.com/u/9fkoWokA/a/200.jpg" },
        "300": { "href": "https://i.letslynk.com/u/9fkoWokA/a/300.jpg" }
    }
}


--
User > Banner

A user banner associated with a user
--

Creates or updates a user banner

__Authentication:__ Required

__Authorization:__ The caller must be authorized as the owner of the user resource 

__Parameters:__ image - The file that you wish to upload

PUT /users/{user_id}/banner
> Authorization: Basic {your encoded token}
> Content-Type: multipart/form-data
> If-Unmodified-Since: Fri, 12 Nov 2013 12:45:26 GMT
< 200
< Content-Type: application/json
< Last-Modified: Tue, 15 Nov 2013 12:45:26 GMT
{
    "_links": {
        "self": { "href": "/users/1/banner" },
        "crop": { "href": "/users/1/banner/crop" },
        "original": { "href": "https://i.letslynk.com/u/9fkoWokA/b/orig.jpg" },
        "320": { "href": "https://i.letslynk.com/u/9fkoWokA/b/320.jpg" },
        "480": { "href": "https://i.letslynk.com/u/9fkoWokA/b/480.jpg" },
        "612": { "href": "https://i.letslynk.com/u/9fkoWokA/b/612.jpg" },
        "640": { "href": "https://i.letslynk.com/u/9fkoWokA/b/640.jpg" },
        "720": { "href": "https://i.letslynk.com/u/9fkoWokA/b/720.jpg" },
        "960": { "href": "https://i.letslynk.com/u/9fkoWokA/b/960.jpg" },
        "1080": { "href": "https://i.letslynk.com/u/9fkoWokA/b/1080.jpg" },
        "1200": { "href": "https://i.letslynk.com/u/9fkoWokA/b/1200.jpg" },
        "1600": { "href": "https://i.letslynk.com/u/9fkoWokA/b/1600.jpg" }
    }
}
+++++
< 400
< Content-Type: application/json
{
    "error": "The file type is not supported"
}
+++++
< 400
< Content-Type: application/json
{
    "error": "The file size is too large (max 10Mb)"
}

Gets a user banner

__Authentication:__ Required

__Authorization:__ The caller must be authorized as the owner of the user resource 

GET /users/{user_id}/banner
> Authorization: Basic {your encoded token}
> If-Modified-Since: Fri, 12 Nov 2013 12:45:26 GMT
< 200
< Last-Modified: Tue, 15 Nov 2013 12:45:26 GMT
{
"_links": {
        "self": { "href": "/users/1/banner" },
        "crop": { "href": "/users/1/banner/crop" },
        "original": { "href": "https://i.letslynk.com/u/9fkoWokA/b/orig.jpg" },
        "320": { "href": "https://i.letslynk.com/u/9fkoWokA/b/320.jpg" },
        "480": { "href": "https://i.letslynk.com/u/9fkoWokA/b/480.jpg" },
        "612": { "href": "https://i.letslynk.com/u/9fkoWokA/b/612.jpg" },
        "640": { "href": "https://i.letslynk.com/u/9fkoWokA/b/640.jpg" },
        "720": { "href": "https://i.letslynk.com/u/9fkoWokA/b/720.jpg" },
        "960": { "href": "https://i.letslynk.com/u/9fkoWokA/b/960.jpg" },
        "1080": { "href": "https://i.letslynk.com/u/9fkoWokA/b/1080.jpg" },
        "1200": { "href": "https://i.letslynk.com/u/9fkoWokA/b/1200.jpg" },
        "1600": { "href": "https://i.letslynk.com/u/9fkoWokA/b/1600.jpg" }
    }
}
+++++
< 404
< Content-Type: application/json
{
    "error": "The requested resource could not be found"
}


Delete a user banner

__Authentication:__ Required

__Authorization:__ The caller must be authorized as the owner of the user resource 

DELETE /users/{user_id}/banner
> Authorization: Basic {your encoded token}
> If-Unmodified-Since: Fri, 12 Nov 2013 12:45:26 GMT
< 204
< Last-Modified: Tue, 15 Nov 2013 12:45:26 GMT
+++++
< 404


--
User > Banner > Crop

Allows a user to crop thier avatar
--

Crop avatar

__Authentication:__ Required

__Authorization:__ The caller must be authorized as the owner of the user resource 

__Required Parameters:__ 

* left (Integer) - _The number of pixels from the left of the image to start the crop_
* upper (Integer) - _The number of pixels from the top of the image to start the crop_
* width (Integer) - _The width of the crop area (All banners have a 3:1 width to height ratio so the height will be calculated by the API)_
* image_width (Integer) - _The width of the image used in pixels while calculating the above crop dimensions_

__Notes:__

* The left and upper set the top left corner of the crop

POST /users/{user_id}/banner/crop
> Authorization: Basic {your encoded token}
> Content-Type: application/json
{
    "left": 200,
    "upper": 50,
    "width": 800,
    "image_width": 1600
}
< 200
< Last-Modified: Tue, 15 Nov 2013 12:45:26 GMT
{
    "_links": {
        "self": { "href": "/users/1/banner" },
        "crop": { "href": "/users/1/banner/crop" },
        "original": { "href": "https://i.letslynk.com/u/9fkoWokA/b/orig.jpg" },
        "320": { "href": "https://i.letslynk.com/u/9fkoWokA/b/320.jpg" },
        "480": { "href": "https://i.letslynk.com/u/9fkoWokA/b/480.jpg" },
        "612": { "href": "https://i.letslynk.com/u/9fkoWokA/b/612.jpg" },
        "640": { "href": "https://i.letslynk.com/u/9fkoWokA/b/640.jpg" },
        "720": { "href": "https://i.letslynk.com/u/9fkoWokA/b/720.jpg" },
        "960": { "href": "https://i.letslynk.com/u/9fkoWokA/b/960.jpg" },
        "1080": { "href": "https://i.letslynk.com/u/9fkoWokA/b/1080.jpg" },
        "1200": { "href": "https://i.letslynk.com/u/9fkoWokA/b/1200.jpg" },
        "1600": { "href": "https://i.letslynk.com/u/9fkoWokA/b/1600.jpg" }
    }
    }
}

--
User > Activity

User acitivty provides a collection of user activities
--

Retrieve a collection of user activities

__Authentication:__ Required

__Authorization:__ The caller must be authorized as the owner of the user resource 

__URI Filters__: 

* start (Integer) *the item number to start from. If not specified, start will be set to 0*
* limit (Integer) *the maximum number of items to return. If not specified, limit will be set to 10*
* type (String) *allowed values are __all__, __connections__, __goodies__,  __events__ and __collected-goodie__. If the type is not set, it will default to __all__.*

     Example: `/users/1/activity?start=0&limit=10&type=all`
GET /users/{user_id}/activity{?start,limit,type}
> Content-Type: application/json
> Authorization: Basic {your encoded token}
> If-Modified-Since: Fri, 12 Nov 2013 12:45:26 GMT
< 200
< Last-Modified: Tue, 15 Nov 2013 12:45:26 GMT
{
    "activity": [
        {
            "type": "connection",
            "date": "2013-06-30T12:39:00Z",
            "event": {
                "name": "Event A",
                "_links": {
                    "event": { "href": "/events/{event_id}" }
                }
            },
            "contact": {
                "user": {
                    "first_name": "Jean Claude",
                    "last_name": "Van Damme",
                    "company": "Round House Inc.",
                    "job_title": "CEO",
                    "_links": {
                        "avatar": {
                            "ldpi": { "href": "https://i.letslynk.com/u/9fkoWokA/a/ldpi.jpg" },
                            "mdpi": { "href": "https://i.letslynk.com/u/9fkoWokA/a/mdpi.jpg" },
                            "hdpi": { "href": "https://i.letslynk.com/u/9fkoWokA/a/hdpi.jpg" },
                            "xhdpi": { "href": "https://i.letslynk.com/u/9fkoWokA/a/xhdpi.jpg" },
                            "xxhdpi": { "href": "https://i.letslynk.com/u/9fkoWokA/a/xxhdpi.jpg" }
                        },
                        "banner": {
                            "ldpi": { "href": "https://i.letslynk.com/u/9fkoWokA/b/ldpi.jpg" },
                            "mdpi": { "href": "https://i.letslynk.com/u/9fkoWokA/b/mdpi.jpg" },
                            "hdpi": { "href": "https://i.letslynk.com/u/9fkoWokA/b/hdpi.jpg" },
                            "xhdpi": { "href": "https://i.letslynk.com/u/9fkoWokA/b/xhdpi.jpg" },
                            "xxhdpi": { "href": "https://i.letslynk.com/u/9fkoWokA/b/xxhdpi.jpg" }
                        }
                    }
                },
                "assigned_tags": [
                    {
                        "tag": {
                            "_tag_id": 1001,
                            "name": "Hot Lead",
                            "colour": "F47831",
                            "icon": "flame",
                            "_links": {
                                "self": { "href": "/users/{user_id}/tags/{user_tag_id}" }
                            }
                        },
                        "_links": {
                            "self": { "href": "/users/{user_id}/contacts/{contact_id}/tags/{assigned_tag_id}" }
                        }
                    },
                    {
                        "tag": {
                            "_tag_id": 1003,
                            "name": "Call Back",
                            "colour": "47B569",
                            "icon": "phone",
                            "_links": {
                                "self": { "href": "/users/{user_id}/tags/{user_tag_id}" }
                            }
                        },
                        "_links": {
                            "self": { "href": "/users/{user_id}/contacts/{contact_id}/tags/{assigned_tag_id}" }
                        }
                    }
                ],
                "notes": "true",
                "_links": {
                    "self": { "href": "/users/{user_id}/contacts/{contact_id}" } 
                }
            }
        },
        {
            "type": "goodie",
            "date": "2013-06-30T12:38:00Z",
            "event": {
                "name": "Event A",
                "_links": {
                    "event": { "href": "/users/{user_id}/events/{event_id}" }
                }
            },
            "_goodie": {
                "name": "Example Goodie - Document",
                "team": {
                    "name": "Company A",
                    "_links": {
                        "self": { "href": "/teams/{team_id}" } 
                    }
                },
                "type": "document",
                "file-type": "word",
                "document": "/users/{user_id}/goodie/{goodie_collection_id}/document"
            }
        },
        {
            "type": "goodie",
            "date": "2013-06-30T12:37:00Z",
            "event": {
                "name": "Event A",
                "_links": {
                    "event": { "href": "/users/{user_id}/events/{event_id}" }
                }
            },
            "goodie": {
                "name": "Example Goodie - Image",
                "team": {
                    "name": "Company B",
                    "_links": {
                        "self": { "href": "/teams/{team_id}" } 
                    }
                },
                "type": "image",
                "image": {
                    "banner": "/users/{user_id}/goodie/{goodie_collection_id}/image?size=banner",
                    "full": "/users/{user_id}/goodie/{goodie_collection_id}/image"
                }
            }
        },
        {
            "type": "goodie",
            "date": "2013-06-30T12:36:00Z",
            "goodie": {
                "name": "Example Goodie - Video Embedded Player", 
                "team": {
                    "name": "Company C",
                    "_links": {
                        "self": { "href": "/teams/{team_id}" } 
                    }
                },
                "type": "video",
                "video": {
                    "type": "embedded-player",
                    "url": "http://www.youtube.com/watch?v=SxHVhxbtrhY"
                }
            }
        },
        {
            "type": "goodie",
            "date": "2013-06-30T12:35:00Z",
            "goodie": {
                "name": "Example Goodie - Video File", 
                "team": {
                    "name": "Company A",
                    "_links": {
                        "self": { "href": "/teams/{team_id}" } 
                    }
                },
                "type": "video",
                "video": {
                    "type": "video-file",
                    "url": "http://www.self-hosted-video.com/video.m4v"
                }
            }
        },
        {
            "type": "goodie",
            "date": "2013-06-30T12:34:00Z",
            "event": {
                "name": "Event B",
                "_links": {
                    "event": { "href": "/users/{user_id}/events/{event_id}" }
                }
            },
            "goodie": {
                "name": "Example Goodie - URL", 
                "team": {
                    "name": "Company D",
                    "_links": {
                        "self": { "href": "/teams/{team_id}" } 
                    }
                },
                "type": "website",
                "url": "http://www.letslynk.com"
            }
        },
        {
            "type": "event-attended",
            "date": "2013-06-30T12:33:00Z",
            "event": {
                "name": "Event B",
                "_links": {
                    "event": { "href": "/users/{user_id}/events/{event_id}" }
                }
            },
            "attended": {
                "name": "Example Event A", 
                "banner": "/users/{user_id}/events/{event_id}/banner",
                "_links": {
                    "self": { "href": "/users/{user_id}/events/{event_id}" }
                } 
            }
        },
        {
            "type": "event-registered",
            "date": "2013-06-30T12:32:00Z",
            "event": {
                "name": "Event B",
                "_links": {
                    "event": { "href": "/users/{user_id}/events/{event_id}" }
                }
            },
            "registered": {
                "name": "Example Event B", 
                "banner": "/users/{user_id}/events/{event_id}/banner",
                "_links": {
                    "self": { "href": "/users/{user_id}/events/{event_id}" }
                } 
            }
        },
        {
            "type": "collected-goodie",
            "date": "2013-06-30T12:31:00Z",
            "event": {
                "name": "Event B",
                "_links": {
                    "event": { "href": "/users/{user_id}/events/{event_id}" }
                }
            },
            "goodie": {
                "name": "Example Goodie - URL", 
                "type": "website",
                "url": "http://www.letslynk.com",
                "_links": {
                    "self": { "href": "/teams/{team_id}/goodie/{goodie_id}" } 
                } 
            },
            "user": {
                "first_name": "Billy",
                "last_name": "NoMates",
                "company": "Sad Face Ltd.",
                "job_title": "CEO",
                "avatar": "/users/{user_id}/contacts/{contact_id}/avatar",
                "_links": {
                    "self": { "href": "/users/{user_id}/contacts/{contact_id}" } 
                }
            }
        }
    ],
    "_links": {
        "parent": { "href": "/users/{user_id}" },
        "self": { "href": "/users/{user_id}/activity?start=0&limit=10&type=all" },
        "next": { "href": "/users/{user_id}/activity?start=10&limit=10&type=all" }
    }
}
+++++
< 404
< Content-Type: application/json
{
    "error": "The requested resource could not be found"
}


--
User > Contacts
The following is a section of resources related to contacts, four methods are available:

* Create a new contact
* Retreive a list of contacts  
* Retrieve a single contact
* Delete an existing contact
--

Create a new contact

Creates a contact for the user specified by the {user\_id} in the request uri based on the 
qr\_code supplied in the request body. Also created a recipricol contact for the other user.

If the users have already connected with each other, another connection will be added to each users contact.

__Authentication:__ Required

__Authorization:__ The caller must be authorized as the owner of the user resource 

__Required Parameters:__

* qr\_code (String) _the qr code of another user, obtained by scanning a users qr code_
* activity\_time (String) [Format: YYYY-MM-DDTHH:MM:SSZ (RFC 3339)] _the date and time of the connection (specified in UTC)_

POST /users/{user_id}/contacts
> Content-Type: application/json
> Authorization: Basic {your encoded token}
{ 
    "qr_code": "12434-12414-asdsa1-123123",
    "activity_time": "2013-06-30T12:31:00Z"
}
< 201
< Last-Modified: Tue, 15 Nov 2013 12:45:26 GMT
{
    "user": {
        "_contact_id": 10,
        "email" : "stevensegal@kickass.com",
        "title" : "Mr",
        "first_name" : "Steven",
        "last_name" : "Segal",
        "home_telephone" : "04444 123 456",
        "mobile_telephone" : "05555 123 456",
        "work_telephone" : "06666 123 456",
        "linked_in" : "http://linked.in/steven_segal",
        "facebook" : "http://facebook.com/stevan_segal",
        "twitter" : "@steven_segal",
        "google" : "+steven_segal",
        "company" : "Kick Ass Ltd",
        "job_title" : "Ass Kicker",
        "address_line_1" : "Address 1",
        "address_line_2" : "Address 2",
        "address_line_3" : "Address 3",
        "address_line_4" : "Address 4",
        "locality" : "NY",
        "region" : "NY",
        "postcode" : "K1KA55",
        "country" : "USA",
        "_qr_code": "12434-12414-asdsa1-123123",
        "_links" : {
            "avatar": {
                "_links": {
                    "38": { "href": "https://i.letslynk.com/u/9fkoWokA/a/38.jpg" },
                    "50": { "href": "https://i.letslynk.com/u/9fkoWokA/a/50.jpg" },
                    "75": { "href": "https://i.letslynk.com/u/9fkoWokA/a/75.jpg" },
                    "100": { "href": "https://i.letslynk.com/u/9fkoWokA/a/100.jpg" },
                    "150": { "href": "https://i.letslynk.com/u/9fkoWokA/a/150.jpg" },
                    "200": { "href": "https://i.letslynk.com/u/9fkoWokA/a/200.jpg" },
                    "300": { "href": "https://i.letslynk.com/u/9fkoWokA/a/300.jpg" }
                }
            },
            "banner": {
                "_links": {
                    "320": { "href": "https://i.letslynk.com/u/9fkoWokA/b/320.jpg" },
                    "480": { "href": "https://i.letslynk.com/u/9fkoWokA/b/480.jpg" },
                    "612": { "href": "https://i.letslynk.com/u/9fkoWokA/b/612.jpg" },
                    "640": { "href": "https://i.letslynk.com/u/9fkoWokA/b/640.jpg" },
                    "720": { "href": "https://i.letslynk.com/u/9fkoWokA/b/720.jpg" },
                    "960": { "href": "https://i.letslynk.com/u/9fkoWokA/b/960.jpg" },
                    "1080": { "href": "https://i.letslynk.com/u/9fkoWokA/b/1080.jpg" },
                    "1200": { "href": "https://i.letslynk.com/u/9fkoWokA/b/1200.jpg" },
                    "1600": { "href": "https://i.letslynk.com/u/9fkoWokA/b/1600.jpg" }
                }
            },
        }
    },
    "_links" : {
        "self": { "href": "/users/{user_id}/contacts/{contact_id}" },
        "connections": { "href": "/users/{user_id}/contacts/{contact_id}/connections" },
        "assigned_tags": { "href": "/users/{user_id}/contacts/{contact_id}/tags" },
        "notes": { "href": "/users/{user_id}/contacts/{contact_id}/notes" }
    }
}
+++++
< 400
{
    "error": "The specified QR code is not in the correct format",
}
+++++
< 400
{
    "error-1": "The required field 'qr_code' was missing in the request",
    "error-2": "The field 'flibble' is not allowed in this request"
}
+++++
< 404 
{
    "error": "The specified QR code was not found",
}


Retrieve a list of all a users contacts

__Authentication:__ Required

__Authorization:__ The caller must be authorized as the owner of the user resource 

__URI filters:__

* tag\* (Integer) *filter by tag\_id to limit the result set to a set of contacts with a given tag*
* type (String) *filter by type, either __all__, __human__ or __goodie__
* start (Integer) *the item number to start from*
* limit (Integer) *the maximum number of items to return*
* search (String) *text based search on the full name*

Example: `users/1/contacts?tag=1&tag=2&type=all&start=0&limit=10&search=Bruce`

GET /users/{user_id}/contacts{?tag*,type,start,limit}
> Content-Type: application/json
> Authorization: Basic {your encoded token}
> If-Modified-Since: Fri, 12 Nov 2013 12:45:26 GMT
< 200
< Last-Modified: Tue, 15 Nov 2013 12:45:26 GMT
{
    "contacts": [
        {
            "user": {
                "_contact_id": 10,
                "email": "stevensegal@kickass.com",
                "title": "Mr",
                "first_name": "Steven",
                "last_name": "Segal",
                "home_telephone": "04444 123 456",
                "mobile_telephone": "05555 123 456",
                "work_telephone": "06666 123 456",
                "linked_in": "http://linked.in/steven_segal",
                "facebook": "http://facebook.com/stevan_segal",
                "twitter": "@steven_segal",
                "google": "+steven_segal",
                "company": "Kick Ass Ltd",
                "job_title": "Ass Kicker",
                "address_line_1": "Address 1",
                "address_line_2": "Address 2",
                "address_line_3": "Address 3",
                "address_line_4": "Address 4",
                "locality": "NY",
                "region": "NY",
                "postcode": "K1KA55",
                "country": "USA",
                "_qr_code": "12434-12414-asdsa1-123123",
                "_links" : {
                    "avatar": {
                        "_links": {
                            "38": { "href": "https://i.letslynk.com/u/9fkoWokA/a/38.jpg" },
                            "50": { "href": "https://i.letslynk.com/u/9fkoWokA/a/50.jpg" },
                            "75": { "href": "https://i.letslynk.com/u/9fkoWokA/a/75.jpg" },
                            "100": { "href": "https://i.letslynk.com/u/9fkoWokA/a/100.jpg" },
                            "150": { "href": "https://i.letslynk.com/u/9fkoWokA/a/150.jpg" },
                            "200": { "href": "https://i.letslynk.com/u/9fkoWokA/a/200.jpg" },
                            "300": { "href": "https://i.letslynk.com/u/9fkoWokA/a/300.jpg" }
                        }
                    },
                    "banner": {
                        "_links": {
                            "320": { "href": "https://i.letslynk.com/u/9fkoWokA/b/320.jpg" },
                            "480": { "href": "https://i.letslynk.com/u/9fkoWokA/b/480.jpg" },
                            "612": { "href": "https://i.letslynk.com/u/9fkoWokA/b/612.jpg" },
                            "640": { "href": "https://i.letslynk.com/u/9fkoWokA/b/640.jpg" },
                            "720": { "href": "https://i.letslynk.com/u/9fkoWokA/b/720.jpg" },
                            "960": { "href": "https://i.letslynk.com/u/9fkoWokA/b/960.jpg" },
                            "1080": { "href": "https://i.letslynk.com/u/9fkoWokA/b/1080.jpg" },
                            "1200": { "href": "https://i.letslynk.com/u/9fkoWokA/b/1200.jpg" },
                            "1600": { "href": "https://i.letslynk.com/u/9fkoWokA/b/1600.jpg" }
                        }
                    },
                }
            },
            "_links": {
                "self": { "href": "/users/{user_id}/contacts/{contact_id}" },
                "connections": { "href": "/users/{user_id}/contacts/{contact_id}/connections" },
                "assigned_tags": { "href": "/users/{user_id}/contacts/{contact_id}/tags" },
                "notes": { "href": "/users/{user_id}/contacts/{contact_id}/notes" }
            }
        },
        {
            "user": {
                "_contact_id": 11,
                "email" : "brucelee@kickass.com",
                "title" : "Mr",
                "first_name" : "Bruce",
                "last_name" : "Lee",
                "home_telephone" : "04444 123 457",
                "mobile_telephone" : "05555 123 457",
                "work_telephone" : "06666 123 457",
                "linked_in" : "http://linked.in/bruce_lee",
                "facebook" : "http://facebook.com/bruce_lee",
                "twitter" : "@bruce_lee",
                "google" : "+bruce_lee",
                "company" : "Kick Ass Ltd",
                "job_title" : "Ass Kicker",
                "address_line_1" : "Address 1",
                "address_line_2" : "Address 2",
                "address_line_3" : "Address 3",
                "address_line_4" : "Address 4",
                "locality" : "NY",
                "region" : "NY",
                "postcode" : "K1KA55",
                "country" : "USA",
                "_qr_code": "12434-12414-asdsa1-123142",
                "_links" : {
                    "avatar": {
                        "_links": {
                            "38": { "href": "https://i.letslynk.com/u/9fkoWokA/a/38.jpg" },
                            "50": { "href": "https://i.letslynk.com/u/9fkoWokA/a/50.jpg" },
                            "75": { "href": "https://i.letslynk.com/u/9fkoWokA/a/75.jpg" },
                            "100": { "href": "https://i.letslynk.com/u/9fkoWokA/a/100.jpg" },
                            "150": { "href": "https://i.letslynk.com/u/9fkoWokA/a/150.jpg" },
                            "200": { "href": "https://i.letslynk.com/u/9fkoWokA/a/200.jpg" },
                            "300": { "href": "https://i.letslynk.com/u/9fkoWokA/a/300.jpg" }
                        }
                    },
                    "banner": {
                        "_links": {
                            "320": { "href": "https://i.letslynk.com/u/9fkoWokA/b/320.jpg" },
                            "480": { "href": "https://i.letslynk.com/u/9fkoWokA/b/480.jpg" },
                            "612": { "href": "https://i.letslynk.com/u/9fkoWokA/b/612.jpg" },
                            "640": { "href": "https://i.letslynk.com/u/9fkoWokA/b/640.jpg" },
                            "720": { "href": "https://i.letslynk.com/u/9fkoWokA/b/720.jpg" },
                            "960": { "href": "https://i.letslynk.com/u/9fkoWokA/b/960.jpg" },
                            "1080": { "href": "https://i.letslynk.com/u/9fkoWokA/b/1080.jpg" },
                            "1200": { "href": "https://i.letslynk.com/u/9fkoWokA/b/1200.jpg" },
                            "1600": { "href": "https://i.letslynk.com/u/9fkoWokA/b/1600.jpg" }
                        }
                    },
                }
            },
            "_links" : {
                "self": { "href": "/users/{user_id}/contacts/{contact_id}" },
                "connections": { "href": "/users/{user_id}/contacts/{contact_id}/connections" },
                "assigned_tags": { "href": "/users/{user_id}/contacts/{contact_id}/tags" },
                "notes": { "href": "/users/{user_id}/contacts/{contact_id}/notes" }
            }
        }
    ],
    "_links": {
        "self": { "href": "/users/{user_id}/contacts?start=0&limit=10" },
        "next": { "href": "/users/{user_id}/contacts?start=10&limit=10" } 
    }
}
+++++
< 404
{
    "error": "The requested resource could not be found"
}


Retreive a single contact

__Authentication:__ Required

__Authorization:__ The caller must be authorized as the owner of the user resource 

GET /users/{user_id}/contacts/{contact_id}
> Content-Type: application/json
> Authorization: Basic {your encoded token}
> If-Modified-Since: Fri, 12 Nov 2013 12:45:26 GMT
< 200
< Content-Type: application/json
< Last-Modified: Tue, 15 Nov 2013 12:45:26 GMT
{
    "user": {
        "_contact_id": 10,
        "email": "stevensegal@kickass.com",
        "title": "Mr",
        "first_name": "Steven",
        "last_name": "Segal",
        "home_telephone": "04444 123 456",
        "mobile_telephone": "05555 123 456",
        "work_telephone": "06666 123 456",
        "linked_in": "http://linked.in/steven_segal",
        "facebook": "http://facebook.com/stevan_segal",
        "twitter": "@steven_segal",
        "google": "+steven_segal",
        "company": "Kick Ass Ltd",
        "job_title": "Ass Kicker",
        "address_line_1": "Address 1",
        "address_line_2": "Address 2",
        "address_line_3": "Address 3",
        "address_line_4": "Address 4",
        "locality": "NY",
        "region": "NY",
        "postcode": "K1KA55",
        "country": "USA",
        "_qr_code": "12434-12414-asdsa1-123123",
        "_links" : {
            "avatar": {
                "_links": {
                    "38": { "href": "https://i.letslynk.com/u/9fkoWokA/a/38.jpg" },
                    "50": { "href": "https://i.letslynk.com/u/9fkoWokA/a/50.jpg" },
                    "75": { "href": "https://i.letslynk.com/u/9fkoWokA/a/75.jpg" },
                    "100": { "href": "https://i.letslynk.com/u/9fkoWokA/a/100.jpg" },
                    "150": { "href": "https://i.letslynk.com/u/9fkoWokA/a/150.jpg" },
                    "200": { "href": "https://i.letslynk.com/u/9fkoWokA/a/200.jpg" },
                    "300": { "href": "https://i.letslynk.com/u/9fkoWokA/a/300.jpg" }
                }
            },
            "banner": {
                "_links": {
                    "320": { "href": "https://i.letslynk.com/u/9fkoWokA/b/320.jpg" },
                    "480": { "href": "https://i.letslynk.com/u/9fkoWokA/b/480.jpg" },
                    "612": { "href": "https://i.letslynk.com/u/9fkoWokA/b/612.jpg" },
                    "640": { "href": "https://i.letslynk.com/u/9fkoWokA/b/640.jpg" },
                    "720": { "href": "https://i.letslynk.com/u/9fkoWokA/b/720.jpg" },
                    "960": { "href": "https://i.letslynk.com/u/9fkoWokA/b/960.jpg" },
                    "1080": { "href": "https://i.letslynk.com/u/9fkoWokA/b/1080.jpg" },
                    "1200": { "href": "https://i.letslynk.com/u/9fkoWokA/b/1200.jpg" },
                    "1600": { "href": "https://i.letslynk.com/u/9fkoWokA/b/1600.jpg" }
                }
            }
        }
    },
    "_links" : {
        "self": { "href": "/users/{user_id}/contacts/{contact_id}" },
        "connections": { "href": "/users/{user_id}/contacts/{contact_id}/connections" },
        "assigned_tags": { "href": "/users/{user_id}/contacts/{contact_id}/tags" },
        "notes": { "href": "/users/{user_id}/contacts/{contact_id}/notes" }
    }
}
+++++
< 404
< Content-Type: application/json
{ 
    "error": "The specified resource could not be found"
}


Delete an existing contact

As a contact is a two wa relationship, both parties contact will be deleted. 
Delete contact requests result in the contacts being archived, so if the two users connect again, 
all historical data between them wil be restored.

__Authentication:__ Required

__Authorization:__ The caller must be authorized as the owner of the user resource 

DELETE /users/{user_id}/contacts/{contact_id}
> Content-Type: application/json
> Authorization: Basic {your encoded token}
> If-Unmodified-Since: Fri, 12 Nov 2013 12:45:26 GMT
< 204
< Last-Modified: Tue, 15 Nov 2013 12:45:26 GMT
+++++
< 404
{
    "error": "The requested resource could not be found"
}


-- 
User > Contact > Connections 

The following is a section of resources related to contact connections:

* Get a list of connections for a given contact
* Get an individual connection
--

Get a list of connections for a contact

__Authentication:__ Required

__Authorization:__ The caller must be authorized as the owner of the user resource 

__URI filters:__

* start (Integer) *the item number to start from*
* limit (Integer) *the maximum number of items to return*
    
Example: `users/1/contacts/3/connections?start=0&limit=10`

GET /users/{user_id}/contacts/{contact_id}/connections
> Content-Type: application/json
> Authorization: Basic {your encoded token}
> If-Modified-Since: Fri, 12 Nov 2013 12:45:26 GMT
< 200
< Content-Type: application/json
< Last-Modified: Tue, 15 Nov 2013 12:45:26 GMT
{
    "connections": [
        {
            "date": "2013-06-30T12:30:00Z",
            "event": {
                "name": "The Food Show",
                "_links": {
                    "event": { "href": "/users/{user_id}/events/{event_id}" }
                }
            },
            "_links": {
                "self": { "href": "/users/{user_id}/contacts/{contact_id}/connections/{connection_id}" }
            }
        },
        {
            "date": "2013-06-30T12:30:00Z",
            "event": {
                "name": "The MMA Show",
                "_links": {
                    "event": { "href": "/users/{user_id}/events/{event_id}" }
                }
            },
            "_links": {
                "self": { "href": "/users/{user_id}/contacts/{contact_id}/connections/{connection_id}" }
            }
        }
    ],
    "_links":{
        "self": { "href": "/users/{user_id}/contacts/{contact_id}/connections/{connection_id}?start=0&limit=10" },
        "next": { "href": "/users/{user_id}/contacts/{contact_id}/connections/{connection_id}?start=10&limit=10" }
    }
}


Get a connection

__Authentication:__ Required

__Authorization:__ The caller must be authorized as the owner of the user resource

Example: `users/1/contacts/3/connections/201`

GET /users/{user_id}/contacts/{contact_id}/connections/{connection_id}
> Content-Type: application/json
> Authorization: Basic {your encoded token}
> If-Unmodified-Since: Fri, 12 Nov 2013 12:45:26 GMT
< 200
< Content-Type: application/json
< Last-Modified: Tue, 15 Nov 2013 12:45:26 GMT
{
    "date": "2013-06-30T12:30:00Z",
    "event": {
        "name": "The Food Show",
        "_links": {
            "event": { "href": "/users/{user_id}/events/{event_id}" }
        }
    },
    "_links": {
        "self": { "href": "/users/{user_id}/contacts/{contact_id}/connections/{connection_id}" }
    }
}


-- 
User > Contact > Notes 

The following is a section of resources related to contact notes:

* Get a list of notes for a given contact
* Get an individual note
* Add a new note
* Update a note
* Delete a note
--

Get a list of notes for a contact

__Authentication:__ Required

__Authorization:__ The caller must be authorized as the owner of the user resource 

__URI filters:__

* start (Integer) *the item number to start from*
* limit (Integer) *the maximum number of items to return*

Example: `/users/1/contacts/52/notes?start=0&limit=10`

GET /users/{user_id}/contacts/{contact_id}/notes{?start,limit}
> Content-Type: application/json
> Authorization: Basic {your encoded token}
> If-Modified-Since: Fri, 12 Nov 2013 12:45:26 GMT
< 200
< Content-Type: application/json
< Last-Modified: Tue, 15 Nov 2013 12:45:26 GMT
{
    "notes": [
        {
            "_note_id": 1,
            "note": "This is the note text",
            "_links":{
                "self": { "href": "/users/{user_id}/contacts/{contact_id}/notes/{note_id}" } 
            }
        },
        {
            "_note_id": 2,
            "note": "This is another note",
            "_links":{
                "self": { "href": "/users/{user_id}/contacts/{contact_id}/notes/{note_id}" } 
            }
        }
    ],
    "_links": {
        "self": { "href": "/users/{user_id}/contacts/{contact_id}/notes?start=0&limit=10" },
        "next": { "href": "/users/{user_id}/contacts/{contact_id}/notes?start=10&limit=10" }
    }
}


Get a single note

__Authentication:__ Required

__Authorization:__ The caller must be authorized as the owner of the user resource

Example: `/users/1/contacts/52/notes/1013`
GET /users/{user_id}/contacts/{contact_id}/notes/{note_id}
> Content-Type: application/json
> Authorization: Basic {your encoded token}
> If-Modified-Since: Fri, 12 Nov 2013 12:45:26 GMT
< 200
< Content-Type: application/json
< Last-Modified: Tue, 15 Nov 2013 12:45:26 GMT
{
    "_note_id": 1,
    "note": "This is the note text",
    "_links": {
        "self": { "href": "/users/{user_id}/contacts/{contact_id}/notes/{note_id}" }
    }
}


Add a new note

__Authentication:__ Required

__Authorization:__ The caller must be authorized as the owner of the user resource

__Required perameters:__

* note (string)

POST /users/{user_id}/contacts/{contact_id}/notes
> Content-Type: application/json
> Authorization: Basic {your encoded token}
{
    "note": "This is a new note"
}
< 200
< Content-Type: application/json
< Last-Modified: Tue, 15 Nov 2013 12:45:26 GMT
{
    "_note_id": 1,
    "note": "This is a new note",
    "_links": {
        "self": { "href": "/users/{user_id}/contacts/{contact_id}/notes/{note_id}" }
    }
}


Update a note

__Authentication:__ Required

__Authorization:__ The caller must be authorized as the owner of the user resource 

__Required perameters:__

* note (string)
* modified (integer)

PUT /users/{user_id}/contacts/{contact_id}/notes/{note_id}
> Content-Type: application/json
> Authorization: Basic {your encoded token}
> If-Unmodified-Since: Fri, 12 Nov 2013 12:45:26 GMT
{
    "note": "Replacement note text here"
}
< 200
< Content-Type: application/json
< Last-Modified: Tue, 15 Nov 2013 12:45:26 GMT
{
    "_note_id": 1,
    "note": "Replacement note text here",
    "_links": {
        "self": { "href": "/users/{user_id}/contacts/{contact_id}/notes/{note_id}" }
    }
}


Delete a note

__Authentication:__ Required

__Authorization:__ The caller must be authorized as the owner of the user resource 

DELETE /users/{user_id}/contacts/{contact_id}/notes/{note_id}
> Content-Type: application/json
> Authorization: Basic {your encoded token}
> If-Unmodified-Since: Fri, 12 Nov 2013 12:45:26 GMT
< 204
< Last-Modified: Tue, 15 Nov 2013 12:45:26 GMT


-- 
User > Contact > Tags 

The following is a section of resources related to contact tags:

* Get a list of assigned tags for a given contact
* Get an individual tag
* Assign a new tag to a contact
* Unassign a tag from a contact
--

Get a list of assigned tags for a contact

__Authentication:__ Required

__Authorization:__ The caller must be authorized as the owner of the user resource 

__URI filters:__

* start (Integer) *the item number to start from*
* limit (Integer) *the maximum number of items to return*

GET /users/{user_id}/contacts/{contact_id}/tags{?start,limit}
> Content-Type: application/json
> Authorization: Basic {your encoded token}
> If-Modified-Since: Fri, 12 Nov 2013 12:45:26 GMT
< 200
< Content-Type: application/json
< Last-Modified: Tue, 15 Nov 2013 12:45:26 GMT
{
    "assigned_tags": [
        {
            "tag": {
                "_tag_id": 1001,
                "name": "Hot Lead",
                "colour": "F47831",
                "icon": "flame",
                "_links": {
                    "self": { "href": "/users/{user_id}/tags/{user_tag_id}" }
                }
            },
            "_links": {
                "self": { "href": "/users/{user_id}/contacts/{contact_id}/tags/{assigned_tag_id}" }
            }
        },
        {
            "tag": {
                "_tag_id": 1003,
                "name": "Call Back",
                "colour": "47B569",
                "icon": "phone",
                "_links": {
                    "self": { "href": "/users/{user_id}/tags/{user_tag_id}" }
                }
            },
            "_links": {
                "self": { "href": "/users/{user_id}/contacts/{contact_id}/tags/{assigned_tag_id}" }
            }
        }
    ],
    "_links": {
        "self": { "href": "/users/{user_id}/contacts/{contact_id}/tags?start=0&limit=10" },
        "next": { "href": "/users/{user_id}/contacts/{contact_id}/tags?start=10&limit=10" }
    }
}


Get an individual assigned tag

__Authentication:__ Required

__Authorization:__ The caller must be authorized as the owner of the user resource

GET /users/{user_id}/contacts/{contact_id}/tags/{tag_id}
> Content-Type: application/json
> Authorization: Basic {your encoded token}
> If-Modified-Since: Fri, 12 Nov 2013 12:45:26 GMT
< 200
< Content-Type: application/json
< Last-Modified: Tue, 15 Nov 2013 12:45:26 GMT
{
    "tag": {
        "_tag_id": 1001,
        "name": "Hot Lead",
        "colour": "F47831",
        "icon": "flame",
        "_links": {
            "self": { "href": "/users/{user_id}/tags/{user_tag_id}" }
        }
    },
    "_links": {
        "self": { "href": "/users/{user_id}/contacts/{contact_id}/tags/{assigned_tag_id}" }
    }
}

Assign a user tag to a connection

__Authentication:__ Required

__Authorization:__ The caller must be authorized as the owner of the user resource 

__Required perameters:__

* tag\_id (integer) *the user\_tag\_id of the user tag you wish to assign*

POST /users/{user_id}/contacts/{contact_id}/tags
> Content-Type: application/json
> Authorization: Basic {your encoded token}
{
    "tag_id": 1001
}
< 201
< Content-Type: application/json
< Last-Modified: Tue, 15 Nov 2013 12:45:26 GMT
{
    "tag": {
        "_tag_id": 1001,
        "name": "Hot Lead",
        "colour": "F47831",
        "icon": "flame",
        "_links": {
            "self": { "href": "/users/{user_id}/tags/{user_tag_id}" }
        }
    },
    "_links": {
        "self": { "href": "/users/{user_id}/contacts/{contact_id}/tags/{assigned_tag_id}" }
    }
}

Unassign a user assigned tag

__Authentication:__ Required

__Authorization:__ The caller must be authorized as the owner of the user resource 

DELETE /users/{user_id}/contacts/{contact_id}/tags/{assigned_tag_id}
> Content-Type: application/json
> Authorization: Basic {your encoded token}
> If-Unmodified-Since: Fri, 12 Nov 2013 12:45:26 GMT
< 204
< Last-Modified: Tue, 15 Nov 2013 12:45:26 GMT
+++++
< 404
< Content-Type: application/json
{
    "error": "The requested resource could not be found"
}


--
User > Contact List
This method provides a list of partial contact objects to allow for the building of a filterable contacts list
--

Get a list of contact objects with associated assigned_tags

__Authentication:__ Required

__Authorization:__ The caller must be authorized as the owner of the user resource 

__URI filters:__

* start (Integer) *the item number to start from*
* limit (Integer) *the maximum number of items to return*
* order (String) *allowed values __asc__ and __desc__, orders the contact by name, first name - last name*
* tag (Integer) *the id of a tag that you wish to filter the list by. More than one tag can be specified in a request*
* search (String) *a search term to filter the result set by. The server will search in the contact full names.*

GET /users/{user_id}/contact_list{?tag*,search,order,start,limit}
> Content-Type: application/json
> Authorization: Basic {your encoded token}
< 200
{
    "contact_list": [
        {
            "user": {
                "email" : "stevensegal@kickass.com",
                "title" : "Mr",
                "first_name" : "Steven",
                "last_name" : "Segal",
                "home_telephone" : "04444 123 456",
                "mobile_telephone" : "05555 123 456",
                "work_telephone" : "06666 123 456",
                "company" : "Kick Ass Ltd",
                "job_title" : "Ass Kicker",
                "_links": {
                    "avatar": {
                        "_links": {
                            "38": { "href": "https://i.letslynk.com/u/9fkoWokA/a/38.jpg" },
                            "50": { "href": "https://i.letslynk.com/u/9fkoWokA/a/50.jpg" },
                            "75": { "href": "https://i.letslynk.com/u/9fkoWokA/a/75.jpg" },
                            "100": { "href": "https://i.letslynk.com/u/9fkoWokA/a/100.jpg" },
                            "150": { "href": "https://i.letslynk.com/u/9fkoWokA/a/150.jpg" },
                            "200": { "href": "https://i.letslynk.com/u/9fkoWokA/a/200.jpg" },
                            "300": { "href": "https://i.letslynk.com/u/9fkoWokA/a/300.jpg" }
                        }
                    }
                }
            },
            "assigned_tags": [
                {
                    "tag": {
                        "name": "Hot Lead",
                        "colour": "F47831",
                        "icon": "flame"
                    }
                },
                {
                    "tag": {
                        "name": "Call Back",
                        "colour": "47B569",
                        "icon": "phone"
                    }
                }
            ],
            "_links" : {
                "contact": { "href": "/users/{user_id}/contacts/{contact_id}" }
            }
        },
        {
            "user": {
                "email" : "brucelee@kickass.com",
                "title" : "Mr",
                "first_name" : "Bruce",
                "last_name" : "Lee",
                "home_telephone" : "04444 123 457",
                "mobile_telephone" : "05555 123 457",
                "work_telephone" : "06666 123 457",
                "company" : "Kick Ass Ltd",
                "job_title" : "Ass Kicker",
                "_links": {
                    "avatar": {
                        "_links": {
                            "38": { "href": "https://i.letslynk.com/u/9fkoWokA/a/38.jpg" },
                            "50": { "href": "https://i.letslynk.com/u/9fkoWokA/a/50.jpg" },
                            "75": { "href": "https://i.letslynk.com/u/9fkoWokA/a/75.jpg" },
                            "100": { "href": "https://i.letslynk.com/u/9fkoWokA/a/100.jpg" },
                            "150": { "href": "https://i.letslynk.com/u/9fkoWokA/a/150.jpg" },
                            "200": { "href": "https://i.letslynk.com/u/9fkoWokA/a/200.jpg" },
                            "300": { "href": "https://i.letslynk.com/u/9fkoWokA/a/300.jpg" }
                        }
                    }
                }
            },
            "assigned_tags": [
                {
                    "tag": {
                        "name": "Hot Lead",
                        "colour": "F47831",
                        "icon": "flame"
                    }
                },
                {
                    "tag": {
                        "name": "Call Back",
                        "colour": "47B569",
                        "icon": "phone"
                    }
                }
            ],
            "_links" : {
                "contact": { "href": "/users/{user_id}/contacts/{contact_id}" }
            }
        }
    ],
    "_links": {
        "self": { "href": "/users/{user_id}/contact_list?start=0&limit=10" },
        "next": { "href": "/users/{user_id}/contact_list?start=10&limit=10" } 
    }
}


--
User > Events
A collection of events that a user is a staff member of
--
Get a collection of events that a user is a staff member of

__Authentication:__ Required

__Authorization:__ The caller must be authorized as the owner of the user resource 

__URI filters:__

* start (Integer) *the item number to start from*
* limit (Integer) *the maximum number of items to display*
* order (String) *allowed values __dateasc__ and __datedesc__*

Example: `/users/1/events?start=0&limit=10&order=datedesc`
GET /users/{user_id}/events{?start,limit,order}
> Content-Type: application/json
> Authorization: Basic {your encoded token}
> If-Unmodified-Since: Fri, 12 Nov 2013 12:45:26 GMT
< 200
< Content-Type: application/json
< Last-Modified: Tue, 15 Nov 2013 12:45:26 GMT
{
    "events": [
        {
            "name": "The Kick Ass Kung Fu Show",
            "level": "member",
            "_links": {
                "self": { "href": "/events/{event_id}" }
            }
        },
        {
            "name": "The Beer Festival",
            "level": "administrator",
            "_links": {
                "self": { "href": "/events/{event_id}" }
            }
        }   
    ],
    "_links": {
        "self": { "href": "/users/{user_id}/events" }
    }
}
+++++
< 404
< Content-Type: application/json
{
    "error": "The requested resource could not be found"
}

--
User > Invites
Methods for retrieving and responding to invitations,. The following methods are available:

* Retrieve a list of all invitations
* Retrieve an individual invitation
* Update an Invitation as accepted or declined
--

Retreive a collection of invitations for the user

__Authentication:__ Required

__Authorization:__ The caller must be authorized as the owner of the user resource 

__URI filters:__

* type (String) *allowed values: __all__, __event__, __event_staff__, __event_visit__, __team__, __team_create__, __team_join__. If no type is specified, the default value is __all__*
* start (Integer) *the item number to start from. If not specified, this will default to 0*
* limit (Integer) *the maximum number of items to return. If not specified, this will default to 10*
* order (String) *allowed values __dateasc__ and __datedesc__*
* status (String) *allowed values: __all__, __pending__, __accepted__, __declined__

Example: `/users/1/invites?type=event&start=0&limit=10&order=datedesc`

GET /users/{user_id}/invites{?type,start,limit,order}
> Content-Type: application/json
> Authorization: Basic {your encoded token}
> If-Modified-Since: Fri, 12 Nov 2013 12:45:26 GMT
< 200
< Content-Type: application/json
< Last-Modified: Tue, 15 Nov 2013 12:45:26 GMT
{
    "invites": [    
        {
            "_invite_id": 1,
            "type": "team_join",
            "status": "pending",
            "team": {
                "name": "Kung Fu Masters",
                "": "member"
            },
            "event": {
                "name": "The Kung Fu Show",
                "_links": {
                    "event": { "href": "/users/{user_id}/events/{event_id}" }
                }
            },
            "_links": {
                "self": { "href": "/users/{user_id}/invites/{invite_id}" }
            }
        },
        {
            "_invite_id": 2,
            "type": "team_create",
            "status": "pending",
            "event": {
                "name": "The Food Show",
                "_links": {
                    "event": { "href": "/users/{user_id}/events/{event_id}" }
                }
            },
            "_links": {
                "self": { "href": "/users/{user_id}/invites/{invite_id}" }
            }
        },
        {
            "_invite_id": 3,
            "type": "event_staff",
            "status": "pending",
            "level": "member",
            "event": {
                "name": "The Kung Fu Show",
                "_links": {
                    "event": { "href": "/users/{user_id}/events/{event_id}" }
                }
            },
            "_links": {
                "self": { "href": "/users/{user_id}/invites/{invite_id}" }
            }
        },
        {
            "_invite_id": 4,
            "type": "event_visit",
            "status": "pending",
            "event": {
                "name": "The Kung Fu Show",
                "_links": {
                    "event": { "href": "/users/{user_id}/events/{event_id}" }
                }
            },
            "_links": {
                "self": { "href": "/users/{user_id}/invites/{invite_id}" }
            }
        }
    ],
    "_links": {
        "self": { "href" : "/users/{user_id}/invites?start=0&limit=10" },
        "next": { "href" : "/users/{user_id}/invites?start=10&limit=10"}
    }
}

Retreive a single invitation for the user

__Authentication:__ Required

__Authorization:__ The caller must be authorized as the owner of the user resource 
GET /users/{user_id}/invites/{invite_id}
> Content-Type: application/json
> Authorization: Basic {your encoded token}
> If-Modified-Since: Fri, 12 Nov 2013 12:45:26 GMT
< 200
< Content-Type: application/json
< Last-Modified: Tue, 15 Nov 2013 12:45:26 GMT
{
    "_invite_id": 1,
    "type": "team_join",
    "status": "pending",
    "team": {
        "name": "Kung Fu Masters",
        "level": "member"
    },
    "event": {
        "name": "The Kung Fu Show",
        "_links": {
            "event": { "href": "/users/{user_id}/events/{event_id}" }
        }
    },
    "_links": {
        "self": { "href": "/users/{user_id}/invites/{invite_id}" }
    }
}

Update an invitation as accepted or declined

__Authentication:__ Required

__Authorization:__ The caller must be authorized as the owner of the user resource

__Required parameters:__ 

* status (String) *allowable values __accepted__ or __declined__.*

__Note:__ All invites can be accepted except invitations to attend an Event (__event_visit__). These invites are accetped when the user registers for an event.

PUT /users/{user_id}/invites/{invite_id}
> Content-Type: application/json
> Authorization: Basic {your encoded token}
> If-Unmodified-Since: Fri, 12 Nov 2013 12:45:26 GMT
{
    "status": "accepted",
}
< 200
< Content-Type: application/json
< Last-Modified: Tue, 15 Nov 2013 12:45:26 GMT
{
    "_invite_id": 1,
    "type": "team_join",
    "status": "accepted",
    "team": {
        "name": "Kung Fu Masters",
        "level": "member",
        "_links": {
            "team": { "href": "/users/{user_id}/teams/{team_id}" }
        }
    },
    "event": {
        "name": "The Kung Fu Show",
        "_links": {
            "event": { "href": "/users/{user_id}/events/{event_id}" }
        }
    },
    "_links": {
        "self": { "href": "/users/{user_id}/invites/{invite_id}" }
    }
}

-- 
User > Goodie Bag
Methods for retrieving and removing goodies from a users goodie collection. The following methods are available:

* Retrieve a list of all a users goodies
* Retreive a single goodie
* Collect a goodie
* Delete a goodie from a users collection
--

Retrieve a collection of user collected goodies

__Authentication:__ Required

__Authorization:__ The caller must be authorized as the owner of the user resource

__URI filters:__

* start (Integer) *the item number to start from*
* limit (Integer) *the maximum number of items to display*
* type (Integer) *the goodie type id that you wish to filter by. Options include __document__, __website__, __video__, __image__ and __all__ (default)*
* team (Integer) *the team id that you wish to filter by*
* event (Integer) *the event id that you wish to filter by*
* search (String) *filter the results by searching for a string in the goodie name*

Example: `/users/1/goodie_bag?start=0&limit=10&type=1&team=13`

GET /users/{user_id}/goodie_bag{?start,limit,type*,team*,event*,search}
> Content-Type: application/json
> Authorization: Basic {your encoded token}
> If-Modified-Since: Fri, 12 Nov 2013 12:45:26 GMT
< 200
< Content-Type: application/json
< Last-Modified: Tue, 15 Nov 2013 12:45:26 GMT
{    
    "goodies": [    
        {
            "collected_date": "2013-06-30T12:30:00Z",
            "name": "2013 Product Brochure",
            "type": "document",
            "url": "/docs/team/1/asdpoqwefpj.pdf",
            "size": "1MB",
            "team": {
                "name": "Kung Fu Masters",
                "_links": {
                    "self": { "href": "/teams/{team_id}" }
                }
            },
            "_links": {
                "self": { "href": "/users/{user_id}/goodie_bag/{goodie_id}" }
            }
        },
        {
            "collected_date": "2013-06-30T12:30:00Z",
            "name": "2013 Product Video",
            "type": "video",
            "url": "/docs/team/1/video1.mp4",
            "size": "20MB",
            "team": {
                "name": "Kung Fu Masters",
                "_links": {
                    "self": { "href": "/teams/{team_id}" }
                }
            },
            "_links": {
                "self": { "href": "/users/{user_id}/goodie_bag/{goodie_id}" }
            }
        }
    ],
    "_links": {
        "self": { "href": "/users/{user_id}/goodie_bag?start=0&limit=10" },
        "next": { "href": "/users/{user_id}/goodie_bag?start=10&limit=10" }
    }
}

Retrieve a single collected goodie

__Authentication:__ Required

__Authorization:__ The caller must be authorized as the owner of the user resource
GET /users/{user_id}/goodie_bag/{goodie_id}
> Content-Type: application/json
> Authorization: Basic {your encoded token}
> If-Unmodified-Since: Fri, 12 Nov 2013 12:45:26 GMT
< 200
< Content-Type: application/json
< Last-Modified: Tue, 15 Nov 2013 12:45:26 GMT
{
    "collected_date": "2013-06-30T12:30:00Z",
    "name": "2013 Product Brochure",
    "type": "document",
    "url": "/docs/team/1/asdpoqwefpj.pdf",
    "size": "1MB",
    "team": {
        "name": "Kung Fu Masters",
        "_links": {
            "self": { "href": "/teams/{team_id}" }
        }
    },
    "_links": {
        "self": { "href": "/users/{user_id}/goodie_bag/{goodie_id}" }
    }
}


Collect a goodie

__Authentication:__ Required

__Authorization:__ The caller must be authorized as the owner of the user resource
POST /users/{user_id}/goodie_bag
> Content-Type: application/json
> Authorization: Basic {your encoded token}
{
    "qr_code": "12434-12414-asdsa1-123123",
    "collected_date": "2013-06-30T12:30:00Z"
}
< 200
< Content-Type: application/json
< Last-Modified: Tue, 15 Nov 2013 12:45:26 GMT
{
    "collected_date": "2013-06-30T12:30:00Z",
    "name": "2013 Product Brochure",
    "type": "document",
    "url": "/docs/team/1/asdpoqwefpj.pdf",
    "size": "1MB",
    "team": {
        "name": "Kung Fu Masters",
        "_links": {
            "self": { "href": "/teams/{team_id}" }
        }
    },
    "_links": {
        "self": { "href": "/users/{user_id}/goodie_bag/{goodie_id}" }
    }
}


Delete a goodie from a users collection

__Authentication:__ Required

__Authorization:__ The caller must be authorized as the owner of the user resource
DELETE /users/{user_id}/goodie_bag/{goodie_id}
> Content-Type: application/json
> Authorization: Basic {your encoded token}
< 204
< Last-Modified: Tue, 15 Nov 2013 12:45:26 GMT


--
User > Notifications

--

Retrieve the notification numbers

__Authentication:__ Required

__Authorization:__ The caller must be authorized as the owner of the user resource

GET /users/{user_id}/notifications
> Content-Type: application/json
> Authorization: Basic {your encoded token}
> If-Modified-Since: Fri, 12 Nov 2013 12:45:26 GMT
< 200
< Last-Modified: Tue, 15 Nov 2013 12:45:26 GMT
{
    "notifications": {
        "invites": 5
    }
}


--
User > Registered Events

Events that user has registered for

__N.B.__ Users register to attend new events by posting thier registration form to `/events/{event_id}/registration_form`. See the section __Event > Registration Form__. 
--

Retrieve a collection of events that a user has registered for

__Authentication:__ Required

__Authorization:__ The caller must be authorized as the owner of the user resource

__URI filters:__

* start (Integer) *the item number to start from. The default value is 0*
[...]
